.formImg form::after {  
  top: -566px;
  left: 25px;
  width: 269px;
  height: 368px;
  background-image: url("/src/images/artboard.svg"); 
}

@media screen and (max-width: 1100px){ 
  .formImg form::after {  
    top: -744px; 
    left: calc(50% - 148px);
  }

}
@media screen and (max-width: 768px){ 
  .formImg form::after {  
    top: -610px; 
    left: calc(50% - 148px);
  }

}
