@import '../../scss/variables';

.Demo--form,
.Demo--form>* {
  width: 100%;
  font-family: $Lora-bold;
  margin: auto;
}

.Container {

  &--form {
    max-width: 765px;
    position: relative;
    top: 270px;
  }

  &--form form::after {
    position: absolute;
    top: -208px;
    left: -231px;
    content: "";
    width: 269px;
    height: 368px;
    background-image: url('./../../images/Artboard%202.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width:870px) {
      top: -256px;
      left: 0;
      width: 100%;
      height: 225px;
      background-size: contain;
    }
  }

  &--form h1 {
    font-family: $Lora-bold;
    font-size: $font-size-lg-42pt;
    font-weight: 600;
    color: #215C75;

    @media screen and (max-width:768px) {
      font-size: $font-size-xs-42pt;
    }
  }
} 
