@font-face {
  font-family: "Lora-Bold";
  src: url(./fonts/Lora-Bold.ttf) format("ttf");
}
body {
  margin: 0;
  font-family: "Lora-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}