@import '../../scss/variables';

.App { 
  text-align: center;
  font-family: $Lora-bold;
  background-image: url('./../../images/background-lg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;

  &__container {
    // width: 980px;
    height: 100vh;

    @media screen and (max-width:768px) {
      width: 100%;
    }
  }
}