@import './variables';

html,
body,
#root {
  height: 100%;
}


.App {
  text-align: center;
  font-family: "Lora-Bold";
  height: 100%; 
  overflow-x: hidden;
  
  &__container {
    // border: 1px solid transparent; 
    display: flex !important;
    max-width: 100% !important;
    background: url('/src/images/background-lg-img.jpg') top/cover no-repeat;
    justify-content: center;
    align-items: center;

    &:has(.loginContainer) {
      background: url("/src/images/Fon-inner.svg") top/cover no-repeat;
    }
    &:has(.registerContainer) {
      background: url("/src/images/Fon-inner.svg") top/cover no-repeat;
    }
    &:has(.healthContainer) {
      background: url("/src/images/Fon-inner.svg") top/cover no-repeat;
    }
    &:has(.personal-area) {
      background: url("/src/images/lk-fon.png") top/cover no-repeat;
      padding: 0;
      overflow: hidden;
    }
    &:has(.my-profile) {
      background: url("/src/images/lk-fon.png") top/cover no-repeat;
    }
    &:has(.container__two-columns) {
      background: url("/src/images/Fon-inner.svg") top/cover no-repeat;
    }

    h2 {
      color: $color-blue-three; 
      font-size: $font-size-lg-42pt;
      line-height: 1.2;
      font-weight: bold;
      text-align: left;
      margin: 0;

    }

  }

}

.formContainer {
  height: 100vh;
  max-width: 860px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}