@import './variables';

.health-checks {
  display: flex;
  max-width: 50%;
  margin: 30px auto;
}


.radar svg {
  width:100%;
}

.container__form-question {
  max-width: 1300px;
  color: $color-white; 
  font-size: $font-size-lg-24pt;

  @media screen and(max-width:1200px)  {
    font-size: $font-size-xs-24pt;

  }

  .logo-img {
    width: 125px;
    height: 125px;
    margin-top: 30px;
  }
  

  h1 { 
    font-size: $font-size-lg-60pt;
  }
}

.health-buttons button:first-child{
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 77px;
    left: -19px;
    font-size: 14px;
    text-transform: none;
    line-height: 1.3;
    width: 100px;
    color:#fff;

    @media screen and (max-width:690px){
      content:' ';
    }
  }
}

.health-buttons button:last-child{
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 77px;
    left: -19px;
    font-size: 14px;
    text-transform: none;
    line-height: 1.3;
    width: 100px;
    color:#fff;

    @media screen and (max-width:690px){
      content:' ';
    }
  }
}
