@import './variables';

body {
  font-family: $Lora-bold;
} 

.container {

  &__form-img {
    max-width: 905px;
    position: relative;
    min-height: 100vh;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1 {
      font-family: $Lora-bold;
      font-size: $font-size-lg-42pt;
      font-weight: 600;
      color: $color-blue-three;
      z-index: 1;
      position: relative;

      @media screen and (max-width:768px) {
        font-size: $font-size-xs-42pt;
      }
    }

    & .lid {
      color: $color-blue-three;
      font-size: $font-size-lg-22pt;
      margin-bottom: 80px;
    }

    & form::after {
      position: absolute;
      left: 0;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media screen and (max-width:870px) {
        top: -256px;
        left: 0;
        width: 100%;
        height: 225px;
        background-size: contain;
      }

    }

    &--left form::after { 
      top: -330px;
      left: -290px;
      width: 269px;
      height: 368px;
      background-image: url('/src/images/artboard.svg');

      @media screen and(max-width:1100px) {
        top: -30px;
        left: calc(50% - 148px);
      }
    }

    &--center form::after {
      top: -517px;
      left: calc(50% - 134px);
      width: 269px;
      height: 339px;
      background-image: url('/src/images/artboard-center.svg');

      @media screen and(max-width:1300px) {
        top: 0px;
        left: calc(50% - 148px);
      }
    }
    &--center-celebration form::after {
      top: -13px;
      left: calc(50% - 130px);
      width: 295px;
      height: 337px;
      background-image: url('/src/images/artboard-center-celebration.svg');

      @media screen and(max-width:1300px) {
        top: 0px;
        left: calc(50% - 148px);
      }
    }

    &--right form::after {
      top: -400px;
      left: auto;
      right: -210px;
      width: 259px;
      height: 418px;
      background-image: url('/src/images/artboard-right.svg');

      @media screen and(max-width:1300px) {
        top: 0px;
        left: calc(50% - 148px);
      }
    }

  }

}

.form-img,
.form-img>* {
  width: 100%;
  margin: auto;
  
}

.form-img { 
  position: relative;

  .form-input { 
    display: none;
  }

  .error {
    position: absolute;
    color: $color-error;
    left: calc(50% - 70px);

    &::before {
      display: inline;
      content: "⚠ ";
    }
  }

  &__row {
    font-family: $open-sans; 
    font-size: $font-size-xs-16pt;
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;

  }

  &__remember-me {
    display: flex;
    white-space: nowrap;

    input[type="checkbox"] {
      padding: 0;
      margin: 0;
      margin-right: 10px;
      width:27px;
      height:27px;
    }
  }

  input[type="text"] , 
  input[type="email"],
  input[type="password"]
   {  
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-size: 14px;
  } 
  



  input[type="submit"]:hover {
    border: none;
    background-color: transparent;
  }

  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  input:disabled {
    opacity: 0.4;
  }

  .checkbox-text {
    color: $color-blue-three;
    font-size: $font-size-xs-16pt;

    input {
      margin-right: 15px;
    }
  }

}

.gallery {
  display: grid;
  gap: 12px;
  margin-bottom: 10px;

  &__item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, calc(100% / 2 - 8px));
    gap: 16px;
  }
}


.register__signin {
  font-family: $open-sans;
  font-weight: bold;
  color: #403F3F;
  font-size: $font-size-lg-22pt;
}

.register__login-link {
  color: $color-blue-three;
  text-decoration: none;
}

//---кнопки----------

  // круглая кнопка '>'

  .btn-big-round {        
    width: 98px;
    height: 98px;
    border: none !important;
    margin-top: 40px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    background-image: url('/src/images/btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

.big-btn { 
  color: #215C75;
  border: 1px solid;
  height: 77px;
  margin: 30px;
  font-size: 32px;
  font-weight: bold;
  border-color: #ffffff;
  border-radius: 30px;
  text-transform: none;
  background-color: #E9EDF0;
} 

.btn-big-round-blue {
  font-size: $font-size-lg-24pt;
  color: #fff;
  width: 369px;
  height: 80px;
  margin: 50px;
  font-weight: bold;
  border-radius: 44px;
  text-transform: none;
  background-color: #3E809D;
  border: none;
  cursor: pointer;
}