@import './variables';

.top-bar {
  position: absolute;
  top: 0px;
  width: 99%;
  z-index: 1;
  align-items: center;
  justify-content: end;
  display: flex;
  height: 80px;

  &__right {
    align-items: center;
    justify-content: end;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @media screen and(max-width:1380px) {
      flex-direction: column;
    }
  }


  ul {
    display: flex;
    flex-direction: row;
  }
}