//цвета
$color-white: #FFF8EA;
$color-blue-one: #57ABD9;
$color-blue-two: #3E809D;
$color-blue-three: #215C75;
$color-gray: #4D4D4D;
$color-error: #bf1650;
$color-text: #403F3F;

// шрифты
$open-sans: 'Open-sans';
$Lora-bold: 'Lora-Bold';

$font-size-lg-60pt: 60px;
$font-size-xs-60pt: 60px;

$font-size-lg-42pt: 56px;
$font-size-xs-42pt: 20px;

$font-size-lg-24pt: 32px;
$font-size-xs-24pt: 16px;

$font-size-lg-22pt: 30px;
$font-size-xs-22pt: 14px;

$font-size-xs-18pt: 24px;
$font-size-xs-16pt: 21px;




//цвет рамки input
//цвет рамки ссылки (наведение)
//цвет при наведении на кнопку