@import url(../../fonts/fonts.css);
@import './variables';  

@import './App';  
@import './Card';
@import './CardList';
@import './Health';
@import './InfoBar';
@import './Login';
@import './MyProfile';
@import './personal-area';   
@import './Register';        
@import './Step2';        
@import './TopBar';

li.growth::after,
li.career::after,
li.friend::after,
li.fun::after,
li.money::after,
li.health::after,
li.love::after{
  position: absolute;
  content: '';
  width:150px;
  height:150px;
  background-image: url(../../images/Health.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: calc(50% - 92px);
}   

li.health::after{
  background-image: url(../../images/Health.svg);
}   
li.love::after{
  background-image: url(../../images/Love.svg);
}   
li.money::after{
  background-image: url(../../images/Money.svg);
}   
li.fun::after{
  background-image: url(../../images/Fun.svg);
}   
li.friend::after{
  background-image: url(../../images/Friend.svg);
}   
li.career::after{
  background-image: url(../../images/Career.svg);
}   
li.growth::after{
  background-image: url(../../images/Growth.svg);
} 

.detail__content {
  border: 1px solid red;
  display: none;
}

.d-block {     
  display: block !important;
}
.d-flex {
  display: flex !important;
}

     