.root {
  flex-grow: 1;
  background-color: rgba(239, 239, 239, 0.8);

}

@media screen and (max-width: 960px) {
  .root>div {
    margin: 0;
  }
}

.container {
  display: flex;
  padding: 0;
  border-radius: 50px;
}

.img {
  width: 100%;
  height: 100%;
}

.info {
  text-align: left;
  padding: 24px 100px 24px 0;
  position: relative;
}

.info::after {
  position: absolute;
  content: "";
  width: 246px;
  height: 143px;
  background-image: url(./../../images/artboard-login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
}

@media screen and (max-width: 960px) {
  .info {
    padding: 24px;
  }
}

@media screen and (max-width: 690px) {
  .info::after {
    content: none;
  }
}


.title {
  display: flex;
  align-items: center;
  gap: 15px;

}

.titleIcon {
  width: 120px;
  height: 120px;
}

/* .title h2 {
  border: 1px solid red;
  position: relative;
}
.title h2::after {
  position: absolute;
  content: ">";
  width: 30px;
  height: 20px;
  top: 0;
  right: 0;
  border: 1px solid green;
  color: red;
} */