@import '../styles/variables';

html,
body,
#root {
  height: 100%;
}

html {
  background-color: aqua;
}



.App {
  text-align: center;
  font-family: "Lora-Bold";
  height: 100%;
  
  &__container{

    background: url('/src/images/background-lg-img.jpg') top/cover no-repeat;

    // background-image: url("/src/images/background-lg-img.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    height: 100vh;
  }

  &--circle-of-life {
    background-image: url("/src/images/Fon-inner.svg");
  }
}

.formContainer {
  height: 100vh;
  max-width: 860px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}