@import '../styles/variables';

.App {
  text-align: center;
  font-family: "Lora-Bold";
  background-image: url("/src/images/background-lg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
  height: 100vh;
}

.formContainer {
  height: 100vh;
  max-width: 860px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}
