html,
body,
#root {
  height: 100%;
}

html {
  background-color: aqua;
}

.App {
  text-align: center;
  font-family: "Lora-Bold";
  height: 100%;
}
.App__container {
  background: url("/src/images/background-lg-img.jpg") top/cover no-repeat;
  height: 100vh;
}
.App--circle-of-life {
  background-image: url("/src/images/Fon-inner.svg");
}

.formContainer {
  height: 100vh;
  max-width: 860px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}