.cards__list-wrapper {
  border: 1px solid;
  margin: 0 10px;
  padding: 0 40px;
  border-color: #ffffff;
  border-radius: 30px;
  background-color: #E9EDF0;
}
.cards__list-wrapper h1 {
  text-align: left;
  color: #215C75;
}

.cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 480px) {
  .cards__list {
    /* gap: 20px; */
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}
@media screen and (min-width: 768px) {
  .cards__list {
    gap: 24px 13px;
    grid-template-columns: repeat(4, calc(25% - 11px));
  }
}
@media screen and (min-width: 991px) {
  .cards__list {
    gap: 24px 13px;
    grid-template-columns: repeat(5, calc(20% - 11px));
  }
}