.container__form-login {
  border: 1px solid green;
  color: #fff;
}
.container__form-login h1 {
  font-size: 56px;
  margin-bottom: 0px;
}

.lid {
  font-size: 30px;
}

.login {
  background-color: rgba(242, 242, 242, 0.4);
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 36px;
  justify-content: center;
  width: 908px;
  margin: 30px auto;
}

.login__welcome {
  margin-top: 32px;
}