.container__form-login {
  color: #fff;
}
.container__form-login h1 {
  font-size: 56px;
  margin-bottom: 0px;
}

.lid {
  font-size: 30px;
}

.login {
  background-color: rgba(242, 242, 242, 0.4);
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 36px;
  justify-content: center;
  max-width: 908px;
  margin: 30px auto;
  position: relative;
  margin-bottom: 300px;
}
.login::after {
  position: absolute;
  content: "";
  top: 595px;
  left: calc(50% - 145px);
  width: 276px;
  height: 173px;
  background-image: url("../../images/artboard-login.svg");
}

.login__welcome {
  margin-top: 32px;
}