.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.my-profile {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
  width: 92%;
  border: 1px solid;
  margin: 0 10px;
  padding: 0 40px;
  border-color: #ffffff;
  border-radius: 30px;
  background-color: #E9EDF0;
}

.user {
  display: flex;
  justify-content: space-between;
}

.key {
  color: #000000
}
.value {
  color: #215C75;
}