.cards {
  border: 1px solid violet;  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.my-profile {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}