.navbar {
  width: 80px;
  min-width: 80px;
  background: linear-gradient(#6E9DCE, #7889B1);
  color: #FFF8EA;
  z-index: 2;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.link {
  color: #FFF8EA;
}