@import '../styles/variables';

.button {
  font-family: $open-sans;
  font-size: $font-size-lg-24pt;
  font-weight: bold;
  color:#ffffff;
  background-color: $color-blue-two;
  border: none;
  border-radius: 50px;
  width: 321px;
  height: 77px;
  text-transform: none;
  margin-top: 20px;
  cursor: pointer;
}