@import '../styles/variables';

.input[type="submit"] {        
  width: 98px;
  height: 98px;
  border: none !important;
  margin-top: 40px;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  background-image: url('/src/images/btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 98px;
    height: 98px;
    background-image: url('/src/images/artboard.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}