.button {
  font-family: "Open-sans";
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3E809D;
  border: none;
  border-radius: 50px;
  width: 321px;
  height: 77px;
  text-transform: none;
  margin-top: 20px;
  cursor: pointer;
}